body {
    background-color: rgb(67, 168, 236);
    font-family: Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    margin: auto;
    font: normal 16pt;
    border-radius: 10px;
    padding: 5px;
    box-shadow:rgba(0, 0, 0, 0.664) 3px 3px 3px;
    width: 500px;
}

.box {
    font: normal 12pt Arial;
}

#seltab {
    width: 180px;
}

footer {
    text-align: center;
    font-style: italic;
}